@*@using Microsoft.AspNet.Identity*@

@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/css/Home/Index.css")
<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">

<div class="row" style="    margin-top: 15vh;">
    <div class="col-md-7">
        <img src="~/Content/Imagens/oie_transparent.png">
    </div>
    <div class="col-md-5">
        <p>
            O OWRM é uma solução que tem como objetivo dar poder ao usuário para organizar sua rotina.
            <ul>
                <li>Vizualização e análise dos registros de ponto de jornada de trabalho</li>
                <li>Relatório de registro de pontos</li>
                <li>Controle e gerenciamento de tarefas</li>
                <li>Criação de notas personalizadas</li>
            </ul>
        </p>
    </div>
</div>