@*<style>
    .rodape {
        background-color: grey;
        position:absolute;
        bottom: 0;
        left:0;
        width:100%;
    }
</style>
<footer>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rodape">
            Esse é o footer
        </div>
    </div>
</footer>*@