@Styles.Render("~/Content/css/Home/Index.css")
<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">

<div class="row">
    <div class="col-md-12">
        Opa! Não existe pontos para esse usuário
    </div>
</div>